.flex-container{
    display: flex;/*tornando flex*/
    flex-wrap: wrap;
    flex-direction: row;/*trabalha com a direção das caixas/elementos filhos*/
    background-color: dodgerblue;/*cor de fundo*/
}
.flex-container div{
    background-color: #f1f1f1;/*cor de fundo*/
    width: 100px;
    margin: 10px;/*mechendo nas margins da caixa*/
    text-align: center;/*alinhamdo ao centro*/
    line-height: 75px;
    font-size: 30px;
}