*{/*tudo do site*/
    list-style: none;/*remove o estilo de lista*/
    padding: 0;/*tamanho preenchimento*/
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;/*colocando uma font*/
}

/*inicio do header estelizando*/
header{/*cabesa do site*/
    padding: 50px;/*tamanho preenchimento*/
    background-color: #5ee3f5;/*colocar cor de fundo*/
}
header ul {/*chamando a (ul)*/
    display: flex;/*tornar flex e deixar lado a lado*/
    justify-content: end;/*justificando o conteudo para o fim (posicionamento) do header*/
}
header ul li a{/*chamando a ancora*/
    color: white;
    text-decoration: none;
    margin-left: 10px;/*espaçamento entre (ancoras*/
}
header li a:hover{/*aplicando o hover*/
    color: #8f8ffa;/*cor ao passar o mouse*/
    transition: 0,8ss;/*tempo de resposta*/
}
/*fim do header estelizando*/

/*inicio da primeira sessão estelizando*/
.section-top{
    padding: 200px;/*preenchimento da sessão*/
    background: linear-gradient(180deg, #65c5f1 8.33%, #0396bb 100%);/*cor com o degrader*/
}
.section-top h1{/*titulo da primeira sessao*/
    font-size: 50px;/*tamanho da fonte*/
    font-weight: 600;/*peso da fonte*/
    color: rgb(2, 2, 112);/*cor da letra*/
    height: 90px;
}
.section-top p{/*paragrafo para estetizalão*/
    margin-top: 10px;/*espaçamento superior*/
    margin-bottom: 10px;/*espaçamento inferior*/
    font-size: 40px;/*tamanho da letra*/
    color: rgb(2, 2, 112);/*cor da letra*/
    font-weight: 600;/*peso da fonte*/
}
.section-top button{/*estelizando o botão da primeira sessão*/
    width: 300px;/*largura do botão*/
    height: 50px;/*altura do botão*/
    border-radius: 50px;/*arredondamento da borda*/
    background-color: #6db403be;/*cor da borda*/
    color: #000000be;/*cor da letra*/
}
.section-top button:hover{/*plicando o hover no botão*/
    background-color: #6db403be;/*alterando a cor de fundo*/
    color: white;/*colocando a cor na letra*/
    border-color: white;/*cor da borda ao passar o mouse*/
    transition: 0.8s;/*tempo de trasição*/
    cursor: pointer;
}
/*fin da primeira sessão estelizando*/

/*inicio da segunda sessão estelizando*/
.section-mede{
    padding: 200px;/*preenchimento da sessão*/
    display: flex;/*tornar flex e deixar lado a lado*/
    justify-content: space-evenly;/*alinhamento na orizontal*/
    align-items: center;/*alinhamento na vertical*/
    background-color: #83f3f3;/*cor de fundo*/
}
.section-mede img{/*chamando a imagem para estelizar*/
    width: 380px;/*largura da imadem*/
    height: auto;/*altura altomatica*/
    margin-left: 20px;/*espaçamento a esquerda*/
}
.section-mede .div-bu{
    justify-content: baseline;
    font-weight: 400;/*peso da */
    font-size: 30px;/*tamanho da letra*/
}
.div-bu p{/*estelizando o paragrafo*/
    font-size: 40px;/*tamanho da letra*/
    color: #2b2626;/*colocando cor no paragrafo*/
    font-weight: 500;/*colocando um peso maior no paragrafo*/
    margin-bottom: 20px;/*espaçamento inferior*/
}
.section-mede button{/*estelizando o botão*/
    width: 300px;/*largura do botão*/
    height: 50px;/*altura do botão*/
    border-radius: 50px;/*arredondamento da borda*/
    background-color: #6db403be;/*cor da borda*/
    color: #000000be;/*cor da letra*/
}
.section-mede button:hover{/*estelizando o botão ao passar o mause*/
    background-color: #6db403be;/*alterando a cor de fundo*/
    color: white;/*colocando a cor na letra*/
    border-color: white;/*cor da borda ao passar o mouse*/
    transition: 0.8s;/*tempo de trasição*/
    cursor: pointer;/*mudando a forma do mause ao passar*/
}
/*fim da segunda sessão estelizando*/

/*inicio da terceira sessão estelizando*/
.section-tre{
    padding: 200px;/*preenchimento da sessão*/
    background-color: #83f3f3;/*cor de fundo*/
}
.section-tre h2{/*estelizando o subtitulo*/
    text-align: center;/*alinhando ao centro*/
    color: rgb(21, 24, 24);/*cor da letra*/
    font-size: 40px;/*tamanho da letra*/
    margin-top: -170px;/*espaçamento em relação a sessão de cima*/
}
.section-tre p{/*estelizando o paragrafo*/
    font-size: 20px;/*tamanho da letra*/
    margin-top: 30px;/*margen superior*/
    color: rgb(29, 28, 28);/*cor do paragrafo*/
    text-align: justify;/*aqui justificamos o texto*/
}
.section-tre button{/*estelizando o botão*/
    padding: 20px;/*preenchimento do botão*/
    border-radius: 50px;/*arredondamento da borda*/
    width: 300px;/*largura do botão*/
    font-size: 15px;/*tamanho da letra*/
    background-color: #6db403be;/*cor da borda*/
    color: rgb(10, 7, 7);/*cor da letra*/
    margin-top: 40px;/*margem superior*/
    margin-bottom: 40px;/*margem inferior*/
}
.section-tre button:hover{/*plicando o hover no botão*/
    background-color: #6db403be;/*alterando a cor de fundo*/
    color: white;/*colocando a cor na letra*/
    border-color: white;/*cor da borda ao passar o mouse*/
    transition: 0.8s;/*tempo de trasição*/
    cursor: pointer;/*mudando a forma do mause ao passar*/
}
.line{/*estelizando a linha*/
    width: 70%;
    margin: 40px auto;/*(espaçamento de 40px top e bottom) e (esquerda e direita automatico)*/
}
.section-tre img{/*estelizando a imagem*/
    margin-left: 200px;/*espaçamento a esquerda*/

    /*IREMOS ALTERAR A FORMATAÇÃO DE ALINHAMENTO*/
}
/*fim da terceira sessão estelizando*/

/*chamando o container-cofre para estelizar*/
.container-cofre{/*criação e estilização do container cofre*/
    padding: 200px;/*preenchimento da sessão*/
    background: linear-gradient(180deg, #1111c79f 8.33%, #0f0fc288 100%), url(imagens/img\ cofre\ fundo.jpg);/*filtro gradient e imagem de fundo*/

    background-position: center;/*posicionamento da imagem*/
    background-size: cover;/*tamanho da imagem = total*/
    background-attachment: fixed;/*deixando a imagem fixa*/
    display: flex;/*tornando nossa sessão flex*/
    justify-content: space-evenly;/*justificando o conteudo na - horizontal*/
    align-items: center;/*alinhamento na vertical*/
}
.container-cofre img{/*estilizando a imagem*/
    width: 350px;/*largura da imagem*/
}
.container-cofre h2{/*estilizando o subtitulo*/
    color: white;/*cor da letra*/
    text-align: center;/*alinhando o texto ao centro*/
    font-size: 35px;/*tamanho da letra*/
    margin-left: 50px;/*espaçamento lateral*/
    margin-bottom: 30px;/*espaçamento inferior*/
}
.container-cofre p{/*chamando o paragrafo*/
    color: white;/*cor da letra*/
    font-size: 20px;/*tamanho da letra*/
    margin-left: 50px;/*margin a esquerda*/
}
.container-cofre h2 span{/*estilizando o span*/
    color: yellow;/*cor da letra*/
    font-weight: 600;/*peso da font*/
}
/**/

/*inicio do footer*/
footer{/*estelizando o footer*/
    padding: 140px;/*preenchimento do footer*/
    background-color: #22222e;/*cor de fundo*/
    text-align: center;/*alinhando ao centro*/
}
.div-privacidade{/*estelizando a nossa class*/
    display: flex;/*tornando flex*/
    justify-content: space-between;/*justificando o conteudo*/
}
.div-privacidade p{/*estelizando o paragrafo*/
    text-align: center;/*alinhando o paragrafo*/
    color: white;/*cor do paragrafo*/
    
}
.div-privacidade a{/*estelizando a ancora*/
    color: white;/*cor da ancora*/
    text-decoration: none;/*removendo a linha em baixo da ancora*/
}
.div-privacidade a:hover{/*estelizando a ancora ao passar o mause*/
    color: purple;/*cor da letra ao passar o mause*/
    transition: 0.8s;/*tempo de trasasão*/
}
footer img{
    margin-bottom: 35px;/*dando um espaçamento*/
    
}
/*fim do footer*/



                /*anotaçoes*/
/*github*/
/*IgorArauj0*/
/*chamar id = #*/
/*chamar class = .(nome da class)*/