*{
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header{
    padding: 50px;
    display: flex;
    background-color: #0000ff;
    justify-content: end;
}
header ul {
    display: flex;
    
}
header ul li{
    margin-left: 10px;
    
}
header a{
    color: white;
    font-size: 15px;
    text-decoration: none;
}
header a:hover{
    color: #8f8ffa;
    transition: 0,8ss;
}
.section-top{
    display: flex;
    padding: 150px;
    justify-content: first baseline;
    background: linear-gradient(180deg, #5745f8 8.33%, #0000ff 100%);
}
.section-top h1{
    font-weight: 400;
    color: blue;
    height: 90px;
    font-size: 80px;
}
.section-top p{
    color: blue;
    font-weight: 350;
    height: 50px;
    font-size: 35px;
}
.section-top button{
    margin-top: 30px;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background-color: #8f8ffa;

}
.section-mede{
    display: flex;
    padding: 220px;
    background-color: #83f3f3;
}
.section-mede .div-bu{
    justify-content: baseline;
    font-weight: 400;
    font-size: 30px;
}
.section-mede img{
    width: 350px;
    height: auto;
}
.section-mede button{
    margin-top: 30px;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background-color: #ddddeb;
}
.section-tre{
    display: flex;
    padding: 220px;
    background-color: #ddddeb;
}
.section-tre h2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    font-weight: 800;
    font-size: 35px;
}
.section-tre button{
    margin-top: 30px;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background-color: #ddddeb;
}
.section-tre img{
    padding: 50px;
    width: 750px;
    display: flex;   
}
.section-fundo{
    display: flex;
    padding: 250px;
    background-image: url(imagens/img\ cofre\ fundo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-attachment: fixed;
}
.section-fundo img{
    width: 350px;
}
.section-fundo h2{
    font-weight: 400;
    color: blue;
    height: 30px;
    font-size: 30px;
    margin-left: 250px;
    margin-top: -500px;
}
.section-fundo p{
    margin-right: 150px;
    margin-bottom: 50px;
    align-items: center;
}
.section-fundo h2 span{
    color: rgb(247, 247, 57);
}
.line{
    width: 800px;
    align-items: end;
    justify-content: end;
}
footer{
    padding: 50px;
    background-color: #22222e;
    text-align: center;    
}
footer div{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    align-items: center;
}
footer img{
    margin-top: 1px;
    width: 250px;
    height: auto;
    margin-bottom: 20px;
}
footer p{
    width: 150px;
    font-size: 15px;
    justify-content: right;
    margin: 10px;
    color: white;
    
}
footer a{
    color: white;
    display: block;
    text-decoration: none;
}
/*github*/
/*IgorArauj0*/